.header a {
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header nav a {
  font-size: 16px;
  font-weight: 500;
}

.header nav .active {
  position: relative;
}

.header nav .active::after {
  content: '';
  background-color: #404bbf;
  border-radius: 2px;
  width: 65px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header a:hover,
.header a:focus {
  color: #404bbf;
}

.header .logo:hover,
.header .logo:focus {
  color: #2e2f42;
}

.header address a {
  color: #434455;
  font-style: normal;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.header nav li {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.header address ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 40px;
}

.header .logo {
  margin-right: 0;
}

.header .container {
  flex-direction: row;
  gap: 76px;
}

.header address {
  margin-left: auto;
}
